body {
	margin: 0;
	padding: 0;
	background: #e5e5e5;
}

header nav {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	margin-bottom: 40px;
}

header nav .menu-btn {
}

header nav .menu-btn:hover {
	cursor: pointer;
}

header nav h1 a {
	text-decoration: none;
	color: #000;
}

header nav .search-btn {
}

header nav .search-btn:hover {
	cursor: pointer;
}
